
data/
data/*.json
data/*.csv
data/*.db
data/*.xlsx
data/*.tsv
.env
services/gemina_ai
services/get_api
services/load_stock_financials_statements
errors.log
frontend/ฟ
frontend/page
__pycache__/
*.pyc
image
expotes/
